*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {     
    margin:0 ;
    padding:0 ;  
    color: plum;  
    font-size: 2em;
    text-align: center;
}

nav {
   
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#045FB4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


button .button1bis { 
    display: none;  
}
button:hover .button1 { 
    display: none;    
}
button:hover .button1bis { 
    display: inline; 
    color: red; 
    font-weight: bold;
}
